{% extends "base.html" %}

{% block content %}
<div id="pictures">
 <div id="feature">
  <div id="overlay">
   <a href="[[ fb_share_URL ]]" id="fb_overlay">Share on Facebook</a>
   <input type="text" value="http://pumpingironwithpaulryan.com/[[ page_URL ]]" />
   <a href="[[ javascript:report; ]]" id="report">Report</a>
   <a href="[[ javascript:delete; ]]" id="delete">Delete</a>
  </div>
  <img src="[[ img_src ]]" />
 </div>
 <div id="tabs">
  <a href="popular" id="popular" class="active">Popular</a>
  <a href="latest" id="latest">Latest</a>
 </div>
 <div id="tray">
  <img src="" />
  <img src="" />
  <img src="" />
  <img src="" />
  <img src="" />
  <img src="" />
  <img src="" />
  <img src="" />
  <img src="" />
  <img src="" />
  <img src="" />
  <img src="" />
  <img src="" />
  <img src="" />
  <img src="" />
 </div>
</div>
<form id="create">
 <div id="image_maker">
  <div id="ryan_overlay"></div>
  <img src="" />
 </div>
 <div id="ryans">
  <img src="" id="ryan1" class="active" />
  <img src="" id="ryan2" />
  <img src="" id="ryan3" />
  <img src="" id="ryan4" />
 </div>
 <button type="submit">I'm Done!</button>
</form> 
<div id="sidebar">
 <div id="intro">
  <h3>Pump it Up</h3>
  <p>Maybe you want to wail on your biceps along side the Wisconson Wonk. Maybe you want to provide extra words of support. Maybe you're just swooning over some muscles. Whatever the reason now's your chance to get ripped with Rep. Ryan.</p>
 </div>
 <div id="upload">
  <h3 class="before">Step 1. Lift it!</h3>
  <h3 class="after">Step 1. Lifted!</h3>
  <form id="file_upload" action="." method="post" enctype='multipart/form-data'>
    {{ upload_form.as_p }}
    {% csrf_token %}
    <button id="upload_button">Upload</button>
  </form>
 </div>
 <div id="positioning">
  <h3 class="before">Step 2. Work it!</h3>
  <h3 class="after">Step 2. Worked!</h3>
  <p>Reposition Ryan (no pun intended) until your heart's content.</p>
 </div>
 <div id="sidebar_share">
  <h3>Step 3. Spread it!</h3>
  <div class="before"><p><a href="[[ Current_URL ]]">Share on Facebook</a></div>
  <div class="after"><p>Does an topical politcal joke unshared on the internet make a lol? Instead of trying to figure that out, why don't you just share your lovely creation on Facebook or with the direct link below?</p>
  <a href="[[ fb_share ]]">Share on Facebook</a>
  <input type="text" value="[[ upload_URL ]]" id="share_link" />
  <p>Look, we all love what you made. But maybe you're having second thoughts. Perhaps it's too great. Here's your eject button. This link will let you delete your upload.</p>
  <input type="text" value="[[ delete_link ]]" id="delete_link" />
  <p>Use this wisely. What's done cannot be undone, etc., etc.,</p>
  </div>
 </div>
</div>

{% endblock content %}