{% extends "base.html" %}

{% block extrahead %}
<meta property="og:image" content="http://pumpingironwithpaulryan.com/static/img/pumpinpaul.jpg"/>
{% endblock %}

{% block content %}
<div id="pictures">
 <div id="feature">
  <div id="overlay">
<a class="fb_share" rel="nofollow" href="http://www.facebook.com/sharer/sharer.php?u=http://pumpingironwithpaulryan.com{{ feature_image.get_absolute_url }}" target="_blank" id="fb_overlay">Share on Facebook</a>
   <input id="feature_url" type="text" value="http://pumpingironwithpaulryan.com{{ feature_image.get_absolute_url }}" />
   <a href="{% url report secret=feature_image.secret %}" id="report">Report</a>
   <a href="[[ javascript:delete; ]]" id="delete">Delete</a>
  </div>
  <img id="feature_img" src="{{ feature_image.image.url }}" />
 </div>
 <div id="tabs">
  <a href="" id="popular" class="active">Popular</a>
  <a href="" id="latest">Latest</a>
 </div>
 <div id="popular_tray" class="tray">
   {% with popular as object_list %}{% include "image_list.html" %}{% endwith %}
 </div>
 <div id="latest_tray" class="tray">
   {% with latest as object_list %}{% include "image_list.html" %}{% endwith %}
 </div>
</div>

<div id="sidebar">
 <div id="upload">
  <h3 class="before">Step 1. Lift it!</h3>
  <h3 class="after">Step 1. Lifted!</h3>
  <form id="file_upload" action="." method="post" enctype='multipart/form-data'>
    {{ upload_form.as_p }}
    {% csrf_token %}
    <button id="upload_button">Upload</button>
  </form>
 </div>
 <div id="positioning">
  <h3 class="before">Step 2. Work it!</h3>
  <h3 class="after">Step 2. Worked!</h3>
  <p>Reposition Ryan (no pun intended) until your heart is content.</p>
 </div>
 <div id="sidebar_share">
  <h3>Step 3. Spread it!</h3>
  <p>Does an topical politcal joke unshared on the internet make a lol? Instead of trying to figure that out, why don't you just share your lovely creation on Facebook?</p>

<p><a class="fb_share" rel="nofollow" href="http://www.facebook.com/sharer/sharer.php?u=http://pumpingironwithpaulryan.com{{ feature_image.get_absolute_url }}" target="_blank">Share on Facebook</a></p>

 </div>
</div>

{% endblock content %}